.Header {
  width: 100%;
  background-color: lime;
}

/* XS (phone portrait) */
@media (max-width: 480px) {
  .Header {
    height: 90px;
  }
}

/* S (small tablet portrait) */
/* M (tablet portrait) */
@media (min-width: 480.02px) and (max-width: 1000px) {
  .Header {
    margin-bottom: 24px;
    height: 56px;
  }
}

/* L (tablet landscape) */
/* XL (desktop) */
@media (min-width: 1000.02px) {
  .Header {
    margin-bottom: 24px;
    height: 80px;
  }
}
