.SizePresetFrame {
    background-color: lightgrey;
}

.SizePresetFrame .main {
    display: flex;
    justify-content: center;
}

.SizePresetFrame .top {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SizePresetFrame .top > .spacer {
    width: 16px;
}
.SizePresetFrame .top > label {
    font-size: 0.7em;
    margin-right: 4px;
}

.SizePresetFrame .left {
}

.SizePresetFrame .content {
    background-color: white;
}

.SizePresetFrame .scrollbar {
    background-color: silver;
}

.SizePresetFrame .right {
}
