.SuperBanner {
  background-color: hotpink;
}

@media (max-width: 467.98px) {
  .SuperBanner {
    width: 320px;
    height: 50px;
  }
}

@media (min-width: 468px) and (max-width: 729.89px) {
  .SuperBanner {
    width: 468px;
    height: 50px;
  }
}

@media (min-width: 730px) and (max-width: 969.98px) {
  .SuperBanner {
    width: 730px;
    height: 90px;
  }
}

@media (min-width: 970px) and (max-width: 1439.98px) {
  .SuperBanner {
    width: 970px;
    height: 250px;
  }
}

@media (min-width: 1440px) {
  .SuperBanner {
    width: 1120px;
    height: 90px;
  }
}